In [559]:
import pandas as pd
import statistics

# Load the dataset into a DataFrame
df = pd.read_csv('Data/AB_NYC_2019.csv')

# Rename columns for better clarity
df.rename(columns={'name': 'description', 'id': 'property_id'}, inplace=True)

# Remove rows where all values are missing
df.dropna(how='all', inplace=True)

# Fill missing values for specific columns with default values
df.fillna({'reviews_per_month': 'Unknown', 'last_review': 'Unknown'}, inplace=True)

# Update 'reviews_per_month' to 0 for listings with 0 reviews
df.loc[df['number_of_reviews'] == 0, 'reviews_per_month'] = 0

# Set 'last_review' to 'Never' for listings with 0 reviews
df.loc[df['number_of_reviews'] == 0, 'last_review'] = 'Never'

# Remove any instances of "'" (apostrophe) in the 'neighbourhood' column
df['neighbourhood_group'] = df['neighbourhood_group'].str.replace("'", "", regex=False)
df['neighbourhood_group'] = df['neighbourhood_group'].str.replace(".", "", regex=False)
df['neighbourhood_group'] = df['neighbourhood_group'].str.replace(' ', '-', regex=False)
df['neighbourhood_group'] = df['neighbourhood_group'].str.lower()

df['neighbourhood'] = df['neighbourhood'].str.replace("'", "", regex=False)
df['neighbourhood'] = df['neighbourhood'].str.replace(".", "", regex=False)
df['neighbourhood'] = df['neighbourhood'].str.replace(' ', '-', regex=False)
df['neighbourhood'] = df['neighbourhood'].str.lower()

# Define the mapping for neighbourhood name changes
neighbourhood_mapping = {
    'bay-terrace,-staten-island': 'bay-terrace',
    'east-morrisania': 'morrisania', 
    'fordham': 'fordham-manor',
    'sea-gate': 'seagate',
    'stuyvesant-town': 'stuyvesant-town-cooper-village',
    'concourse-village': 'concourse',
    'gramercy': 'gramercy-park',
    'rockaway-beach': 'rockaway-park', 
    'flatbush': 'flatbush-ditmas-park',  
}

# Replace the values in the 'neighbourhood' column using the mapping
df['neighbourhood'] = df['neighbourhood'].replace(neighbourhood_mapping)

In [561]:
# Create a new DataFrame containing property-related details
df_property = df[['property_id', 'description', 'neighbourhood', 
                  'room_type', 'price', 'minimum_nights',
                  'reviews_per_month', 'availability_365', 'host_id']]

# Create a separate DataFrame containing host-related details
df_host = df[['host_id', 'host_name', 'calculated_host_listings_count']]

In [563]:
# Select the relevant columns from the original dataframe: 'neighbourhood_group' and 'neighbourhood'
df_neighbourhoods = df[['neighbourhood_group', 'neighbourhood']]

# Remove duplicate rows based on the selected columns
df_neighbourhoods = df_neighbourhoods.drop_duplicates()

# Reset the index of the dataframe to have a continuous range of index values
df_neighbourhoods = df_neighbourhoods.reset_index(drop=True)

In [567]:
import requests
from bs4 import BeautifulSoup

# Initialize an empty dictionary to store neighbourhood names and their average prices
average_prices = {}

# Iterate over the rows of the DataFrame
for index, row in df_neighbourhoods.iterrows():
    # Extract neighbourhood group and neighbourhood from each row
    neighbourhood_group = row['neighbourhood_group']
    neighbourhood = row['neighbourhood']
    
    # Construct the URL dynamically using the neighbourhood group and neighbourhood
    url = f"https://www.propertynest.com/for-rent/{neighbourhood_group}/{neighbourhood}/"
    
    # Make a GET request to the URL
    response = requests.get(url)
    # print(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Extract all the price elements (use find_all since multiple elements may match)
        price_elements = soup.find_all('span', class_='avg-rental-list__result')
        
        # If price elements are found
        if price_elements:
            # Clean the price text from each element and store it
            prices = [price_element.get_text(strip=True) for price_element in price_elements]
            # Save the prices in the dictionary for the neighbourhood
            average_prices[neighbourhood] = prices
        else:
            print(f"Price not found for {neighbourhood} in group {neighbourhood_group}, moving on.")
            continue  # Skip to the next neighbourhood if no price is found

# Print the dictionary containing neighbourhoods and their average prices
print(average_prices)

Price not found for columbia-st in group brooklyn, moving on.
Price not found for civic-center in group manhattan, moving on.
Price not found for navy-yard in group brooklyn, moving on.
Price not found for howland-hook in group staten-island, moving on.
Price not found for douglaston in group queens, moving on.
Price not found for edenwald in group bronx, moving on.
Price not found for fort-wadsworth in group staten-island, moving on.
{'kensington': ['$2,100', '$2,100', '$2,500', '$3,300'], 'midtown': ['$3,200', '$4,800', '$8,250', '$18,000'], 'harlem': ['$1,998', '$3,027', '$3,500', '$2,850'], 'clinton-hill': ['$2,100', '$2,850', '$4,035', '$4,500'], 'east-harlem': ['$2,575', '$2,600', '$3,400', '$3,600'], 'murray-hill': ['$2,950', '$3,600', '$5,500', '$5,500'], 'bedford-stuyvesant': ['$2,000', '$2,700', '$2,800', '$3,399'], 'hells-kitchen': ['$2,500', '$4,200', '$4,350', '$6,500'], 'upper-west-side': ['$2,490', '$3,495', '$4,950', '$7,350'], 'chinatown': ['$1,900', '$2,500', '$3,200', '$5,200'], 'south-slope': ['$1,850', '$2,900', '$2,900', '$4,417'], 'west-village': ['$3,300', '$5,250', '$7,800', '$12,000'], 'williamsburg': ['$2,716', '$3,500', '$4,050', '$4,750'], 'fort-greene': ['$2,395', '$2,950', '$4,200', '$4,900'], 'chelsea': ['$3,237', '$4,750', '$9,500', '$15,500'], 'crown-heights': ['$2,100', '$2,200', '$3,027', '$3,500'], 'park-slope': ['$1,995', '$3,150', '$3,995', '$5,895'], 'windsor-terrace': ['$1,500', '$2,300', '$3,200', '$3,500'], 'inwood': ['$1,700', '$1,776', '$2,250', '$2,900'], 'east-village': ['$2,750', '$3,250', '$4,050', '$5,600'], 'greenpoint': ['$2,325', '$4,000', '$4,950', '$5,500'], 'bushwick': ['$1,950', '$2,950', '$2,800', '$3,350'], 'flatbush-ditmas-park': ['$1,814', '$2,280', '$2,744', '$3,164'], 'lower-east-side': ['$1,995', '$4,650', '$5,500', '$4,395'], 'prospect-lefferts-gardens': ['$1,700', '$2,100', '$2,500', '$3,000'], 'long-island-city': ['$3,000', '$3,500', '$5,000', '$6,600'], 'kips-bay': ['$2,700', '$3,700', '$3,164', '$5,125'], 'soho': ['$2,700', '$8,000', '$12,000', '$18,000'], 'upper-east-side': ['$2,500', '$3,195', '$4,400', '$8,495'], 'prospect-heights': ['$2,050', '$3,600', '$5,895', '$6,000'], 'washington-heights': ['$1,950', '$2,100', '$2,300', '$2,800'], 'woodside': ['$1,541', '$2,300', '$2,700', '$3,200'], 'brooklyn-heights': ['$2,700', '$3,500', '$6,699', '$10,108'], 'carroll-gardens': ['$1,800', '$2,800', '$4,395', '$5,195'], 'gowanus': ['$2,500', '$2,700', '$4,300', '$4,115'], 'flatlands': ['$1,544', '$1,639', '$1,895', '$3,000'], 'cobble-hill': ['$2,300', '$2,800', '$3,700', '$4,500'], 'flushing': ['$1,950', '$2,300', '$2,800', '$3,500'], 'boerum-hill': ['$2,586', '$2,500', '$4,250', '$4,900'], 'sunnyside': ['$1,800', '$2,380', '$3,350', '$3,500'], 'dumbo': ['$3,000', '$4,150', '$6,995', '$9,500'], 'st-george': ['$2,150', 'N/A', '$2,950', 'N/A'], 'highbridge': ['N/A', 'N/A', '$2,200', 'N/A'], 'financial-district': ['$3,300', '$4,600', '$8,000', '$10,000'], 'ridgewood': ['$2,000', '$2,350', '$2,800', '$3,200'], 'morningside-heights': ['$1,900', '$2,400', '$2,695', '$2,667'], 'jamaica': ['$1,755', '$1,900', '$2,500', '$3,000'], 'middle-village': ['$1,150', '$1,875', '$2,600', '$3,200'], 'noho': ['$3,992', '$5,119', '$12,000', '$12,000'], 'ditmars-steinway': ['$2,300', '$2,200', '$2,850', '$3,450'], 'flatiron-district': ['$3,425', '$5,585', '$8,000', '$24,995'], 'roosevelt-island': ['$2,650', '$3,096', '$4,500', '$5,600'], 'greenwich-village': ['$3,500', '$3,995', '$4,400', '$12,500'], 'little-italy': ['$3,400', '$2,850', '$3,000', '$6,495'], 'east-flatbush': ['$1,600', '$2,200', '$2,600', '$3,300'], 'tompkinsville': ['$1,400', 'N/A', 'N/A', 'N/A'], 'astoria': ['$2,800', '$2,500', '$3,100', '$3,400'], 'clason-point': ['N/A', '$1,470', 'N/A', '$3,200'], 'eastchester': ['N/A', 'N/A', 'N/A', 'N/A'], 'kingsbridge': ['N/A', 'N/A', '$2,750', '$3,350'], 'two-bridges': ['$2,375', '$4,250', '$2,850', '$4,200'], 'queens-village': ['$1,450', '$1,900', '$2,450', '$3,000'], 'rockaway-park': ['$1,425', '$1,725', '$2,200', '$3,056'], 'forest-hills': ['$1,850', '$2,300', '$2,800', '$4,000'], 'nolita': ['$3,695', '$2,795', '$3,350', '$4,850'], 'woodlawn': ['N/A', '$1,726', 'N/A', '$2,450'], 'university-heights': ['N/A', 'N/A', 'N/A', '$2,350'], 'gravesend': ['$1,581', '$1,776', '$2,095', '$2,621'], 'gramercy-park': ['$3,200', '$4,250', '$7,500', '$9,000'], 'allerton': ['N/A', 'N/A', 'N/A', '$3,385'], 'east-new-york': ['$1,300', '$1,600', '$2,595', '$3,000'], 'theater-district': ['$2,750', '$3,350', '$6,995', '$15,000'], 'concourse': ['N/A', 'N/A', 'N/A', 'N/A'], 'sheepshead-bay': ['$1,400', '$1,795', '$3,150', '$2,300'], 'emerson-hill': ['N/A', 'N/A', 'N/A', 'N/A'], 'fort-hamilton': ['$1,468', '$1,892', '$2,439', '$2,818'], 'bensonhurst': ['$1,431', '$1,750', '$2,200', '$2,500'], 'tribeca': ['$5,500', '$6,950', '$11,995', '$17,500'], 'shore-acres': ['N/A', 'N/A', '$2,695', 'N/A'], 'sunset-park': ['$1,749', '$1,750', '$2,500', '$2,400'], 'elmhurst': ['$1,750', '$2,000', '$2,500', '$3,100'], 'brighton-beach': ['$1,800', '$1,975', '$2,495', '$2,650'], 'jackson-heights': ['$1,800', '$2,200', '$2,650', '$2,950'], 'cypress-hills': ['$1,944', '$1,591', '$2,600', '$2,875'], 'st-albans': ['$1,404', '$1,610', '$2,500', '$3,500'], 'arrochar': ['N/A', 'N/A', 'N/A', 'N/A'], 'rego-park': ['$1,750', '$2,300', '$2,700', '$3,750'], 'wakefield': ['N/A', '$1,700', '$2,500', '$3,200'], 'clifton': ['N/A', 'N/A', 'N/A', 'N/A'], 'bay-ridge': ['$1,600', '$1,800', '$2,400', '$3,200'], 'graniteville': ['N/A', 'N/A', 'N/A', 'N/A'], 'spuyten-duyvil': ['N/A', '$2,000', '$2,751', '$2,895'], 'stapleton': ['N/A', 'N/A', 'N/A', '$2,450'], 'briarwood': ['$1,465', '$2,100', '$2,450', '$3,300'], 'ozone-park': ['$1,625', '$2,100', '$2,299', '$3,000'], 'vinegar-hill': ['$2,933', '$3,250', '$4,500', '$6,205'], 'mott-haven': ['N/A', '$2,300', '$2,199', '$2,385'], 'longwood': ['N/A', '$1,950', '$2,200', 'N/A'], 'canarsie': ['$1,100', '$1,501', '$2,600', '$3,400'], 'battery-park-city': ['$2,950', '$4,250', '$11,250', '$12,000'], 'east-elmhurst': ['$2,300', '$2,100', '$2,600', '$3,100'], 'new-springville': ['N/A', 'N/A', 'N/A', 'N/A'], 'morris-heights': ['N/A', 'N/A', '$1,800', '$2,250'], 'arverne': ['$1,579', '$1,700', '$2,095', '$3,385'], 'cambria-heights': ['$1,350', 'N/A', '$2,000', '$2,300'], 'tottenville': ['N/A', 'N/A', 'N/A', 'N/A'], 'mariners-harbor': ['N/A', 'N/A', 'N/A', 'N/A'], 'concord': ['N/A', 'N/A', 'N/A', 'N/A'], 'borough-park': ['$1,950', '$1,999', '$2,495', '$3,000'], 'bayside': ['$2,100', '$2,250', '$2,650', '$3,000'], 'downtown-brooklyn': ['$2,600', '$4,100', '$5,895', '$7,995'], 'port-morris': ['$1,750', '$2,549', '$3,000', 'N/A'], 'fieldston': ['N/A', '$1,750', '$3,300', '$2,436'], 'kew-gardens': ['$1,625', '$2,150', '$2,800', '$2,698'], 'midwood': ['$1,785', '$2,850', '$3,075', '$3,550'], 'college-point': ['$3,500', '$2,300', '$2,600', '$3,000'], 'mount-eden': ['N/A', 'N/A', 'N/A', 'N/A'], 'city-island': ['N/A', 'N/A', 'N/A', 'N/A'], 'glendale': ['$1,617', '$1,600', '$2,700', '$2,950'], 'port-richmond': ['N/A', 'N/A', 'N/A', 'N/A'], 'red-hook': ['$2,725', '$2,500', '$3,150', '$3,700'], 'richmond-hill': ['$1,300', '$2,300', '$2,350', '$2,900'], 'bellerose': ['N/A', '$1,900', '$2,500', '$3,000'], 'maspeth': ['$4,000', '$1,850', '$3,200', '$3,000'], 'williamsbridge': ['N/A', 'N/A', '$2,000', '$3,214'], 'soundview': ['N/A', '$1,650', 'N/A', 'N/A'], 'woodhaven': ['$1,429', '$1,700', '$2,500', '$2,700'], 'woodrow': ['N/A', 'N/A', 'N/A', '$3,200'], 'co-op-city': ['N/A', 'N/A', 'N/A', 'N/A'], 'stuyvesant-town-cooper-village': ['$3,635', '$3,520', '$4,910', '$6,740'], 'parkchester': ['N/A', '$1,900', 'N/A', 'N/A'], 'north-riverdale': ['N/A', 'N/A', '$1,950', '$3,750'], 'dyker-heights': ['$1,455', '$1,515', '$2,000', '$2,422'], 'bronxdale': ['N/A', 'N/A', 'N/A', 'N/A'], 'seagate': ['N/A', 'N/A', 'N/A', 'N/A'], 'riverdale': ['N/A', '$1,950', '$2,650', '$2,500'], 'kew-gardens-hills': ['$1,695', '$1,950', '$2,599', '$3,700'], 'bay-terrace': ['$1,735', '$2,650', '$3,450', '$3,150'], 'norwood': ['N/A', 'N/A', 'N/A', 'N/A'], 'claremont-village': ['N/A', 'N/A', '$2,050', 'N/A'], 'whitestone': ['N/A', '$2,300', '$2,500', '$3,100'], 'fordham-manor': ['N/A', '$1,675', '$1,900', 'N/A'], 'bayswater': ['N/A', 'N/A', 'N/A', 'N/A'], 'brownsville': ['$1,793', '$1,775', '$2,300', '$2,995'], 'eltingville': ['N/A', 'N/A', 'N/A', 'N/A'], 'fresh-meadows': ['$1,275', '$1,620', '$2,098', '$2,850'], 'mount-hope': ['N/A', 'N/A', 'N/A', 'N/A'], 'lighthouse-hill': ['N/A', 'N/A', 'N/A', 'N/A'], 'springfield-gardens': ['$1,607', '$1,952', '$2,091', '$3,300'], 'howard-beach': ['$1,550', '$1,564', '$2,600', '$3,200'], 'belle-harbor': ['N/A', '$1,562', '$2,035', '$3,613'], 'jamaica-estates': ['$1,534', '$1,766', '$2,298', '$4,000'], 'van-nest': ['N/A', 'N/A', '$2,000', 'N/A'], 'morris-park': ['N/A', 'N/A', '$2,650', '$3,100'], 'west-brighton': ['N/A', 'N/A', 'N/A', 'N/A'], 'far-rockaway': ['$1,650', '$1,575', '$2,381', '$3,100'], 'south-ozone-park': ['$1,110', '$1,589', '$2,400', '$3,000'], 'tremont': ['N/A', 'N/A', 'N/A', 'N/A'], 'corona': ['$1,584', '$1,969', '$2,100', '$3,000'], 'great-kills': ['N/A', 'N/A', 'N/A', 'N/A'], 'manhattan-beach': ['$1,448', '$1,717', '$2,556', '$2,760'], 'marble-hill': ['$1,400', 'N/A', 'N/A', 'N/A'], 'dongan-hills': ['N/A', 'N/A', 'N/A', 'N/A'], 'castleton-corners': ['N/A', 'N/A', 'N/A', 'N/A'], 'morrisania': ['N/A', '$1,500', 'N/A', 'N/A'], 'hunts-point': ['N/A', '$1,400', 'N/A', 'N/A'], 'neponsit': ['N/A', 'N/A', 'N/A', 'N/A'], 'pelham-bay': ['N/A', 'N/A', 'N/A', 'N/A'], 'randall-manor': ['N/A', 'N/A', 'N/A', 'N/A'], 'throgs-neck': ['N/A', '$1,800', '$2,762', '$3,100'], 'todt-hill': ['N/A', 'N/A', 'N/A', 'N/A'], 'west-farms': ['N/A', 'N/A', 'N/A', 'N/A'], 'silver-lake': ['N/A', 'N/A', 'N/A', 'N/A'], 'laurelton': ['$1,400', '$1,585', '$1,833', '$3,100'], 'grymes-hill': ['N/A', 'N/A', 'N/A', 'N/A'], 'holliswood': ['N/A', '$1,670', '$1,875', '$2,975'], 'pelham-gardens': ['N/A', 'N/A', 'N/A', 'N/A'], 'belmont': ['N/A', 'N/A', '$2,400', '$2,400'], 'rosedale': ['N/A', '$2,000', '$2,500', '$3,000'], 'edgemere': ['N/A', 'N/A', 'N/A', 'N/A'], 'new-brighton': ['N/A', 'N/A', 'N/A', 'N/A'], 'midland-beach': ['N/A', 'N/A', 'N/A', 'N/A'], 'baychester': ['N/A', 'N/A', 'N/A', '$3,200'], 'melrose': ['N/A', 'N/A', 'N/A', '$2,200'], 'bergen-beach': ['$1,100', '$1,550', '$2,320', '$2,342'], 'richmondtown': ['N/A', 'N/A', 'N/A', 'N/A'], 'schuylerville': ['N/A', 'N/A', 'N/A', 'N/A'], 'coney-island': ['$1,849', '$2,073', '$2,522', '$2,741'], 'new-dorp-beach': ['N/A', 'N/A', 'N/A', 'N/A'], 'princes-bay': ['N/A', 'N/A', 'N/A', 'N/A'], 'south-beach': ['N/A', 'N/A', 'N/A', 'N/A'], 'bath-beach': ['$1,516', '$1,755', '$2,750', '$2,408'], 'jamaica-hills': ['$1,844', '$1,508', '$1,813', '$2,568'], 'oakwood': ['N/A', 'N/A', 'N/A', 'N/A'], 'castle-hill': ['N/A', 'N/A', 'N/A', 'N/A'], 'hollis': ['$1,292', '$1,623', '$1,963', '$3,084'], 'huguenot': ['N/A', 'N/A', 'N/A', 'N/A'], 'olinville': ['N/A', 'N/A', 'N/A', 'N/A'], 'grant-city': ['N/A', 'N/A', 'N/A', 'N/A'], 'westerleigh': ['N/A', 'N/A', '$1,650', 'N/A'], 'westchester-square': ['N/A', 'N/A', '$1,750', 'N/A'], 'little-neck': ['$1,780', '$2,050', '$2,550', '$3,200'], 'rosebank': ['N/A', 'N/A', 'N/A', 'N/A'], 'unionport': ['$1,449', 'N/A', '$1,950', 'N/A'], 'mill-basin': ['$1,431', '$1,519', '$2,200', '$2,565'], 'arden-heights': ['N/A', 'N/A', 'N/A', '$3,200'], 'bulls-head': ['N/A', 'N/A', 'N/A', 'N/A'], 'new-dorp': ['N/A', 'N/A', 'N/A', 'N/A'], 'rossville': ['N/A', 'N/A', 'N/A', 'N/A'], 'breezy-point': ['N/A', 'N/A', 'N/A', 'N/A'], 'willowbrook': ['N/A', 'N/A', 'N/A', 'N/A']}

In [568]:
# Initialize an empty list to store the neighbourhood and its corresponding median price
neighbourhood_data = []

# Iterate through the dictionary to calculate the median price for each neighbourhood
for neighbourhood, prices in average_prices.items():
    # Clean the prices and convert them to float, while handling any invalid prices (like 'N/A')
    cleaned_prices = []
    for price in prices:
        try:
            cleaned_price = float(price.replace('$', '').replace(',', ''))
            cleaned_prices.append(cleaned_price)
        except ValueError:
            continue
    
    # Calculate the median price
    if cleaned_prices:  # Ensure there are valid prices to calculate the median
        median_price = statistics.median(cleaned_prices)
    else:
        median_price = None  # If there are no valid prices, set median as None
    
    # Add the neighbourhood and its median price to the list
    neighbourhood_data.append({'neighbourhood': neighbourhood, 'median_price': median_price})

# Create the DataFrame from the list
df_median_prices = pd.DataFrame(neighbourhood_data)

In [569]:
df_median_prices.dropna(inplace = True)

In [570]:
df_median_prices

          neighbourhood  median_price
0            kensington        2300.0
1               midtown        6525.0
2                harlem        2938.5
3          clinton-hill        3442.5
4           east-harlem        3000.0
..                  ...           ...
200  westchester-square        1750.0
201         little-neck        2300.0
203           unionport        1699.5
204          mill-basin        1859.5
205       arden-heights        3200.0

[158 rows x 2 columns]

In [571]:
df_property

,property_id,description,neighbourhood,room_type,price,minimum_nights,reviews_per_month,availability_365,host_id
0,2539,Clean & quiet apt home by the park,kensington,Private room,149,1,0.21,365,2787
1,2595,Skylit Midtown Castle,midtown,Entire home/apt,225,1,0.38,355,2845
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,harlem,Private room,150,3,0,365,4632
3,3831,Cozy Entire Floor of Brownstone,clinton-hill,Entire home/apt,89,1,4.64,194,4869
4,5022,Entire Apt: Spacious Studio/Loft by central park,east-harlem,Entire home/apt,80,10,0.1,0,7192
...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,bedford-stuyvesant,Private room,70,2,0,9,8232441
48891,36485057,Affordable room in Bushwick/East Williamsburg,bushwick,Private room,40,4,0,36,6570630
48892,36485431,Sunny Studio at Historical Neighborhood,harlem,Entire home/apt,115,10,0,27,23492952
48893,36485609,43rd St. Time Square-cozy single bed,hells-kitchen,Shared room,55,1,0,2,30985759
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,hells-kitchen,Private room,90,7,0,23,68119814

In [572]:
df_host

        host_id      host_name  calculated_host_listings_count
0          2787           John                               6
1          2845       Jennifer                               2
2          4632      Elisabeth                               1
3          4869    LisaRoxanne                               1
4          7192          Laura                               1
...         ...            ...                             ...
48890   8232441        Sabrina                               2
48891   6570630        Marisol                               2
48892  23492952  Ilgar & Aysel                               1
48893  30985759            Taz                               6
48894  68119814     Christophe                               1

[48895 rows x 3 columns]