In [606]:
import pandas as pd
import statistics

# Load the dataset into a DataFrame
df = pd.read_csv('Data/AB_NYC_2019.csv')

# Rename columns for better clarity
df.rename(columns={'name': 'description', 'id': 'property_id'}, inplace=True)

# Remove rows where all values are missing
df.dropna(how='all', inplace=True)

# Fill missing values for specific columns with default values
df.fillna({'reviews_per_month': 'Unknown', 'last_review': 'Unknown'}, inplace=True)

# Update 'reviews_per_month' to 0 for listings with 0 reviews
df.loc[df['number_of_reviews'] == 0, 'reviews_per_month'] = 0

# Set 'last_review' to 'Never' for listings with 0 reviews
df.loc[df['number_of_reviews'] == 0, 'last_review'] = 'Never'

# Remove any instances of "'" (apostrophe) in the 'neighbourhood' column
df['neighbourhood_group'] = df['neighbourhood_group'].str.replace("'", "", regex=False)
df['neighbourhood_group'] = df['neighbourhood_group'].str.replace(".", "", regex=False)
df['neighbourhood_group'] = df['neighbourhood_group'].str.replace(' ', '-', regex=False)
df['neighbourhood_group'] = df['neighbourhood_group'].str.lower()

df['neighbourhood'] = df['neighbourhood'].str.replace("'", "", regex=False)
df['neighbourhood'] = df['neighbourhood'].str.replace(".", "", regex=False)
df['neighbourhood'] = df['neighbourhood'].str.replace(' ', '-', regex=False)
df['neighbourhood'] = df['neighbourhood'].str.lower()

# Define the mapping for neighbourhood name changes
neighbourhood_mapping = {
    'bay-terrace,-staten-island': 'bay-terrace',
    'east-morrisania': 'morrisania', 
    'fordham': 'fordham-manor',
    'sea-gate': 'seagate',
    'stuyvesant-town': 'stuyvesant-town-cooper-village',
    'concourse-village': 'concourse',
    'gramercy': 'gramercy-park',
    'rockaway-beach': 'rockaway-park', 
    'flatbush': 'flatbush-ditmas-park',  
}

# Replace the values in the 'neighbourhood' column using the mapping
df['neighbourhood'] = df['neighbourhood'].replace(neighbourhood_mapping)

df_cleaned = df[['property_id', 'description', 'neighbourhood', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 
                 'reviews_per_month', 'availability_365', 'host_id', 'host_name', 'calculated_host_listings_count']]

In [561]:
# Create a new DataFrame containing property-related details
df_property = df[['property_id', 'description', 'neighbourhood', 
                  'room_type', 'price', 'minimum_nights',
                  'reviews_per_month', 'availability_365', 'host_id']]

# Create a separate DataFrame containing host-related details
df_host = df[['host_id', 'host_name', 'calculated_host_listings_count']]

In [563]:
# Select the relevant columns from the original dataframe: 'neighbourhood_group' and 'neighbourhood'
df_neighbourhoods = df[['neighbourhood_group', 'neighbourhood']]

# Remove duplicate rows based on the selected columns
df_neighbourhoods = df_neighbourhoods.drop_duplicates()

# Reset the index of the dataframe to have a continuous range of index values
df_neighbourhoods = df_neighbourhoods.reset_index(drop=True)

# Code to transfer to another notebook

import requests
from bs4 import BeautifulSoup

# Initialize an empty dictionary to store neighbourhood names and their average prices
average_prices = {}

# Iterate over the rows of the DataFrame
for index, row in df_neighbourhoods.iterrows():
    # Extract neighbourhood group and neighbourhood from each row
    neighbourhood_group = row['neighbourhood_group']
    neighbourhood = row['neighbourhood']
    
    # Construct the URL dynamically using the neighbourhood group and neighbourhood
    url = f"https://www.propertynest.com/for-rent/{neighbourhood_group}/{neighbourhood}/"
    
    # Make a GET request to the URL
    response = requests.get(url)
    # print(url)

    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Extract all the price elements (use find_all since multiple elements may match)
        price_elements = soup.find_all('span', class_='avg-rental-list__result')
        
        # If price elements are found
        if price_elements:
            # Clean the price text from each element and store it
            prices = [price_element.get_text(strip=True) for price_element in price_elements]
            # Save the prices in the dictionary for the neighbourhood
            average_prices[neighbourhood] = prices
        else:
            print(f"Price not found for {neighbourhood} in group {neighbourhood_group}, moving on.")
            continue  # Skip to the next neighbourhood if no price is found

# Print the dictionary containing neighbourhoods and their average prices
print(average_prices)

# Initialize an empty list to store the neighbourhood and its corresponding median price
neighbourhood_data = []

# Iterate through the dictionary to calculate the median price for each neighbourhood
for neighbourhood, prices in average_prices.items():
    # Clean the prices and convert them to float, while handling any invalid prices (like 'N/A')
    cleaned_prices = []
    for price in prices:
        try:
            cleaned_price = float(price.replace('$', '').replace(',', ''))
            cleaned_prices.append(cleaned_price)
        except ValueError:
            continue
    
    # Calculate the median price
    if cleaned_prices:  # Ensure there are valid prices to calculate the median
        median_price = statistics.median(cleaned_prices)
    else:
        median_price = None  # If there are no valid prices, set median as None
    
    # Add the neighbourhood and its median price to the list
    neighbourhood_data.append({'neighbourhood': neighbourhood, 'median_price': median_price})

# Create the DataFrame from the list
df_median_prices = pd.DataFrame(neighbourhood_data)

df_median_prices.dropna(inplace = True)

df_median_prices.to_csv('neighbourhood_prices.csv', index=False)

# Continue

In [699]:
df_nh_prices = pd.read_csv('Data/neighbourhood_prices.csv')

In [701]:
inflation_rate = 0.02 
years = 6

# arp = apartment renting price
df_nh_prices['arp_2019'] = df_nh_prices['median_price'] / ((1 + inflation_rate) ** years)

df_nh_prices['arp_2019'] = df_nh_prices['arp_2019'].round()

In [703]:
del df_nh_prices['median_price']

In [705]:
df_nh_prices

          neighbourhood  arp_2019
0            kensington    2042.0
1               midtown    5794.0
2                harlem    2609.0
3          clinton-hill    3057.0
4           east-harlem    2664.0
..                  ...       ...
153  westchester-square    1554.0
154         little-neck    2042.0
155           unionport    1509.0
156          mill-basin    1651.0
157       arden-heights    2842.0

[158 rows x 2 columns]

In [707]:
df_merged = pd.merge(df_cleaned, df_nh_prices, on='neighbourhood', how='left')

In [714]:
df_merged.dropna(how='any')

,property_id,description,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,host_id,host_name,calculated_host_listings_count,arp_2019
0,2539,Clean & quiet apt home by the park,kensington,Private room,149,1,9,0.21,365,2787,John,6,2042.0
1,2595,Skylit Midtown Castle,midtown,Entire home/apt,225,1,45,0.38,355,2845,Jennifer,2,5794.0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,harlem,Private room,150,3,0,0,365,4632,Elisabeth,1,2609.0
3,3831,Cozy Entire Floor of Brownstone,clinton-hill,Entire home/apt,89,1,270,4.64,194,4869,LisaRoxanne,1,3057.0
4,5022,Entire Apt: Spacious Studio/Loft by central park,east-harlem,Entire home/apt,80,10,9,0.1,0,7192,Laura,1,2664.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,bedford-stuyvesant,Private room,70,2,0,0,9,8232441,Sabrina,2,2442.0
48891,36485057,Affordable room in Bushwick/East Williamsburg,bushwick,Private room,40,4,0,0,36,6570630,Marisol,2,2553.0
48892,36485431,Sunny Studio at Historical Neighborhood,harlem,Entire home/apt,115,10,0,0,27,23492952,Ilgar & Aysel,1,2609.0
48893,36485609,43rd St. Time Square-cozy single bed,hells-kitchen,Shared room,55,1,0,0,2,30985759,Taz,6,3796.0
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,hells-kitchen,Private room,90,7,0,0,23,68119814,Christophe,1,3796.0

In [716]:
df_merged.to_csv('AirBnB_NY_arp2019.csv', index=False)